

:root {
    /* TEMPORARY*/
    --header-color: #ffd7bb;




    /* Base Colors */
    --white: #ffffff;
    --light-gray: #DBDBDB;
    --dark-gray: #555555;
    --black: #101016;

    --orange: #FFA11E;
    --orange-light: #FFD787;
    --brown: #532F00;
    --brown-light: #985900;

    --success: #53b600;
    --warn: #FFA11E;
    --error: #EF4444;
    --success-bg: #e5ffda;
    --warn-bg: #fff5db;
    --error-bg: #FFE4E4;


    /* Paddings */
    --default-section-padding-X: 5%;

    /* Memory */
    --primary-color: #522f00;
    --secondary-color: #fdbf6d;


    /* Tetris */
    --grid-bg: #13111E;

    --empty-color: #1D1A2D;
    --S-color: red;
    --Z-color: green;
    --J-color: magenta;
    --L-color: cyan;
    --O-color: yellow;
    --I-color: blue;
    --T-color: purple;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body, #__nuxt, .__main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 2rem 1.5rem;
}






